@page "/docs/{livstrpar}"
@attribute [Authorize]
@using Applet.Nat.Ux
@using Applet.Nat.Ux.Models
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Nat.Ux.Properties
@using Newtonsoft.Json
@using System.IO.Compression
@using System.Text
@using Microsoft.JSInterop;
@using System.Reflection

@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject State ioState
@inject IJSRuntime iIJS;
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>@Resources.lioL_Documents</PageTitle>
<div class="nat-page">
    @if (!ioState.ivblnReady || !ioState.ivblnLogin)
    {
        <p><em>@Resources.lioL_Wait</em></p>
    }
    else
    {
        <div class="nat-filter-container">
            @if (ioState.ioLogin.ioUser.ioDcModel.ivblnAdmin)
            {
                <div class="nat-col10">
                    <MudTextField Typo=Typo.body2 @bind-Value=mivlngCuitEmisor Variant="Variant.Outlined" Class="nat-text3" Adornment="Adornment.Start" Margin="Margin.Dense" Label=@Resources.lioL_Emisor></MudTextField>
                </div>
            }
            <div class="nat-col15">
                <MudSelect Typo=Typo.body2 Class="nat-text3" @bind-Value="mivnroTipo" Variant="Variant.Outlined" Margin="Margin.Dense" Label=@Resources.lioL_Type>
                    @foreach (ListModel lioListModel in ioState.ioStatics.coLists.Where(x => x.ivcodType == "TCOMP").OrderBy(x => int.Parse(x.ivcodId)))
                    {
                        <MudSelectItem Class="nat-text" Value=@short.Parse(lioListModel.ivcodId)>@lioListModel.ivstrDesc</MudSelectItem>
                    }
                </MudSelect>
            </div>

            <div class="nat-col6">
                <MudTextField Typo=Typo.body2 @bind-Value=mivnumPvta Label=@Resources.lioL_PV Class="nat-text3" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.Start"></MudTextField>
            </div>

            <div class="nat-col8">
                <MudTextField Typo="Typo.body2" @bind-Value=mivlngCbteD Variant="Variant.Outlined" Class="nat-text3" Adornment="Adornment.Start" Margin="Margin.Dense" Label=@Resources.lioL_NbrD></MudTextField>
            </div>
            <div class="nat-col8">
                <MudTextField Typo=Typo.body2 @bind-Value=mivlngCbteH Variant="Variant.Outlined" Class="nat-text3" Adornment="Adornment.Start" Margin="Margin.Dense" Label=@Resources.lioL_NbrH></MudTextField>
            </div>
            <div class="nat-col12">
                <MudDatePicker style="font-size:16px" Class="nat-text3" @bind-Date="@mivdtmD" Variant="Variant.Outlined" Adornment="Adornment.End" Margin="Margin.Dense" DateFormat=@ioState.Getparam("format", "UxDtm") Label=@Resources.lioL_DateD></MudDatePicker>
            </div>
            <div class="nat-col12">
                <MudDatePicker style="font-size:16px" Class="nat-text3" @bind-Date="@mivdtmH" Variant="Variant.Outlined" Adornment="Adornment.End" Margin="Margin.Dense" DateFormat=@ioState.Getparam("format", "UxDtm") Label=@Resources.lioL_DateH></MudDatePicker>
            </div>
            <div class="nat-col10">
                <MudTextField Typo=Typo.body2 @bind-Value=mivlngCuitReceptor Variant="Variant.Outlined" Class="nat-text3" Adornment="Adornment.Start" Margin="Margin.Dense" Label=@Resources.lioL_Cuit></MudTextField>
            </div>
            <div class="nat-col10">
                <MudSelect Typo=Typo.body2 @bind-Value="mivnroStatus" Variant="Variant.Outlined" Class="nat-text3" Margin="Margin.Dense" Label=@Resources.lioL_Sts>
                    @foreach (ListModel lioListModel in ioState.ioStatics.coLists.Where(x => x.ivcodType == "STATUS").OrderBy(x => x.ivstrDesc))
                    {
                        <MudSelectItem Class="nat-text" Value=@short.Parse(@lioListModel.ivcodId)>@lioListModel.ivstrDesc</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="nat-col8">
                <MudTextField Typo=Typo.body2 @bind-Value=mivstrIdCliente Class="nat-text3" Variant="Variant.Outlined" Adornment="Adornment.Start" Margin="Margin.Dense" Label=@Resources.lioL_IdCliente></MudTextField>
            </div>
            <div class="nat-filterIcon-container">
                <MudIconButton Icon="@Icons.Material.Filled.FilterAltOff" Class="nat-icon-rojoborde" title=@Resources.lioL_Clr @onclick="Clr" Edge="Edge.End"></MudIconButton>
            </div>
            <div class="nat-filterIcon-container">
                <MudIconButton Icon="@Icons.Material.Filled.Search" title=@Resources.lioL_Find Class="nat-icon-fondoverde" @onclick="Find" Edge="Edge.End"></MudIconButton>
            </div>
        </div>
        <div class="nat-cmdbar-container">
            @if (mcoSelectedDocuments.Count() > 0)
            {
                <MudIconButton Icon="@Icons.Material.Filled.PictureAsPdf" Class="nat-icon-verde" title=@Resources.lioL_Print @onclick="(() => Submit(eTask.Print))" Edge="Edge.Start"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Outlined.SimCardDownload" Class="nat-icon-verde" title=@Resources.lioL_Original @onclick="(() => Original())" Edge="Edge.Start"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.NearMe" Class="nat-icon-verde" title=@Resources.lioL_SendResponse @onclick="(() => Submit(eTask.SendResponse))" Edge="Edge.Start"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.ForwardToInbox" Class="nat-icon-verde" title=@Resources.lioL_Share @onclick="(() => Submit(eTask.Share))" Edge="Edge.Start"></MudIconButton>
                @if (mcoSelectedDocuments.Count == 1)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Route" Class="nat-icon-verde" title=@Resources.lioL_Tracking @onclick="(() => Submit(eTask.Tracking))" Edge="Edge.Start"></MudIconButton>
                    @if (mcoSelectedDocuments.First().ioDcModel.ivnroStatus < 50)
                    {
                        <MudIconButton Icon="@Icons.Material.Outlined.Delete" Class="nat-icon-rojo" title=@Resources.lioL_Delete @onclick="Delete" Edge="Edge.Start"></MudIconButton>
                    }
                }
            }
            <MudSpacer />
            <span Class="nat-text">@Resources.lioL_Result: <strong>@mcoDocuments.Count()</strong> @Resources.lioL_Documents </span>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.Add" Class="nat-icon-verde" title=@Resources.lioL_Add @onclick="Add" Edge="Edge.End"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.FileDownload" title=@Resources.lioL_Export Class="nat-icon-verde" @onclick="Export" Edge="Edge.End"></MudIconButton>
        </div>
        <div>
            <MudTable FixedHeader="true" RowClass="nat-tr" FixedFooter="true"  HorizontalScrollbar="false" MultiSelection="true" Items="@mcoDocuments.OrderByDescending(x => x.ioDcModel?.ivlngDoc)" SelectionChangeable=true SortLabel="Sort By" Dense="true" @bind-SelectedItems="mcoSelectedDocuments">

                <HeaderContent>
                    @if (ioState.ioLogin.ioUser.ioDcModel.ivblnAdmin)
                    {
                        <MudTh Style="max-width: 8vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivlngCuitEmisor)">@Resources.lioL_Emisor</MudTableSortLabel></MudTh>
                    }
                    <MudTh Style="max-width: 5vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivnroTipo)">@Resources.lioL_Type1</MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 8vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivnumPvta)">@Resources.lioL_PV</MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 8vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivlngCbte)">@Resources.lioL_Nbr</MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 8vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivdtmEmision)">@Resources.lioL_Date</MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 10vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivlngCuitReceptor)">@Resources.lioL_Cuit </MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 30vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivstrRazonSocial)">@Resources.lioL_Rs</MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 10vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivdblImporte)">@Resources.lioL_Importe</MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 5vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivstrMoneda)">@Resources.lioL_Moneda</MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 8vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th " SortBy="new Func<Document, object>(x => x.ioDcModel?.ivnroStatus)">@Resources.lioL_Status</MudTableSortLabel></MudTh>
                    <MudTh Style="max-width: 8vw; text-align:center;"><MudTableSortLabel Class="nat-textN nat-th" SortBy="new Func<Document, object>(x => x.ioDcModel?.ivstrIdCliente)">@Resources.lioL_IdCliente</MudTableSortLabel></MudTh>
                </HeaderContent>
                <RowTemplate >
                    @if (ioState.ioLogin.ioUser.ioDcModel.ivblnAdmin)
                    {
                        <MudTd DataLabel="Nr">@context.ioDcModel?.ivlngCuitEmisor</MudTd>
                    }
                    <MudTd Style="max-width: 5vw;" Class="nat-text nat-td" DataLabel="@Resources.lioL_Type1" title="@ioState.ioStatics.coLists.FirstOrDefault(x => x.ivcodType == "TCOMP" && x.ivcodId == context.ioDcModel.ivnroTipo.ToString())?.ivstrDesc">@context.ioDcModel.ivnroTipo.ToString().PadLeft(3, '0')</MudTd>
                    <MudTd Style="max-width: 8vw;" Class="nat-text nat-td" DataLabel="@Resources.lioL_PV">@context.ioDcModel?.ivnumPvta.ToString().PadLeft(5, '0')</MudTd>
                    <MudTd Style="max-width: 8vw;" Class="nat-text nat-td nat-right" DataLabel="@Resources.lioL_Nbr">@context.ioDcModel?.ivlngCbte</MudTd>
                    <MudTd Style="max-width: 8vw;" Class="nat-text nat-td" DataLabel="@Resources.lioL_Date">@context.ioDcModel?.ivdtmEmision?.ToString(ioState.Getparam("Format", "UxDtm"))</MudTd>
                    <MudTd Style="max-width: 10vw;" Class="nat-text nat-td nat-right" DataLabel="@Resources.lioL_User" title="@context.ioDcModel?.ivlngDoc">@context.ioDcModel?.ivlngCuitReceptor</MudTd>
                    <MudTd Style="max-width: 30vw;" Class="nat-text nat-td" DataLabel="@Resources.lioL_Rs">@context.ioDcModel?.ivstrRazonSocial</MudTd>
                    <MudTd Style="max-width: 10vw;" Class="nat-text nat-td nat-right" DataLabel="@Resources.lioL_Importe">@context.ioDcModel?.ivdblImporte.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</MudTd>
                    <MudTd Style="max-width: 5vw; text-align:center" Class="nat-text nat-td " DataLabel="@Resources.lioL_Moneda">@context.ioDcModel?.ivstrMoneda</MudTd>
                    @if (context.ioDcModel?.ivnroStatus == 10)
                    {
                        <MudTd Style="max-width: 8vw; color:#424242; text-align:center" Class="nat-text nat-td" DataLabel="@Resources.lioL_Status">@ioState.Getparam("STATUS", context.ioDcModel?.ivnroStatus.ToString() ?? "0")</MudTd>
                    }
                    @if (new short[] { 20, 35, 40, 65 }.Contains(context.ioDcModel?.ivnroStatus ?? 0))
                    {
                        <MudTd Style="max-width: 8vw; color:#F44336; text-align:center" Class="nat-text nat-td " DataLabel="@Resources.lioL_Status">@ioState.Getparam("STATUS", context.ioDcModel?.ivnroStatus.ToString() ?? "0")</MudTd>
                    }
                    @if (new short[] { 30, 50, 70, 100 }.Contains(context.ioDcModel?.ivnroStatus ?? 0))
                    {
                        <MudTd Style="max-width: 8vw; color:#00973F; text-align:center" Class="nat-text nat-td   " DataLabel="@Resources.lioL_Status">@ioState.Getparam("STATUS", context.ioDcModel?.ivnroStatus.ToString() ?? "0")</MudTd>
                    }
                    @if (new short[] { 55, 60 }.Contains(context.ioDcModel?.ivnroStatus ?? 0))
                    {
                        <MudTd Style="max-width: 8vw; color:#008DAF; text-align:center" Class="nat-text nat-td" DataLabel="@Resources.lioL_Status">@ioState.Getparam("STATUS", context.ioDcModel?.ivnroStatus.ToString() ?? "0")</MudTd>
                    }
                    @if (context.ioDcModel?.ivnroStatus == 80)
                    {
                        <MudTd Style="max-width: 8vw; color:#FF9800; text-align:center" Class="nat-text nat-td " DataLabel="@Resources.lioL_Status">@ioState.Getparam("STATUS", context.ioDcModel?.ivnroStatus.ToString() ?? "0")</MudTd>
                    }
                    <MudTd Style="max-width: 8vw;" Class="nat-text nat-td nat-right" DataLabel="@Resources.lioL_IdCliente">@context.ioDcModel?.ivstrIdCliente</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager RowsPerPageString="Documentos por Pagina:" PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                </PagerContent>
            </MudTable>
        </div>
    }

</div>
@code {
    [Parameter]
    public string? livstrpar { get; set; }

    private DateTime? mivdtmD { get; set; }
    private DateTime? mivdtmH { get; set; }
    private bool blnTracking { get; set; }
    private long? mivlngCbteD { get; set; }
    private long? mivlngCbteH { get; set; }
    private int? mivnumPvta { get; set; }
    private long? mivlngCuitReceptor { get; set; }
    private long? mivlngCuitEmisor { get; set; }
    private string[] costrColHeaders { get; set; }
    private string? mivstrError { get; set; }
    private short mivnroTipo { get; set; }
    private short mivnroStatus { get; set; }
    private string? mivstrIdCliente { get; set; }
    private List<Document>? mcoDocuments { get; set; }
    private HashSet<Document> mcoSelectedDocuments { get; set; }
    private DocumentTracking[]? mcoTracking { get; set; }
    private Filter? mioFilter { get; set; }
    private DialogModel? mioDialogModel { get; set; }
    private bool mivblnSelectAll { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        ioState.ivblnReady = false;
        if (!ioState.ivblnLogin)
            NavigationManager.NavigateTo("login");
        else if (!string.IsNullOrEmpty(livstrpar))
            await Find();
        ioState.ivblnReady = true;
    }
    protected override void OnInitialized()
    {
        ioState.ivblnReady = false;
        if (!ioState.ivblnLogin)
            NavigationManager.NavigateTo("login");
        ioState.ivstrName = Resources.lioL_Docs;
        mioDialogModel = new DialogModel();
        mcoSelectedDocuments = new HashSet<Document>();
        Clr();
        ioState.ivblnReady = true;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await iIJS.InvokeVoidAsync("userInactiveTime.setInactivityTimeout", ioState.ivnumInactiveMinutes);
        }
    }
    #region Tareas Header
    public async Task Find()
     {
        try
        {
            mioFilter = new Filter { coFilterItems = new List<FilterItem>() };
            mioFilter.coFilterItems.Clear();

            if (ioState.ioLogin.ioUser.ioDcModel.ivblnAdmin && mivlngCuitEmisor != null && mivlngCuitEmisor != 0)
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrPropName = "ivlngCuitEmisor",
                        ivstrOper = "EQ",
                        ivstrPropValue = mivlngCuitEmisor.ToString()
                    }
                );
            else
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrOper = "EQ",
                        ivstrPropName = "ivlngCuitEmisor",
                        ivstrPropValue = ioState.ioLogin.ivlngCurrentCuit.ToString()
                    }
                    );
            mioFilter.coFilterItems.Add(
                  new FilterItem
                  {
                      ivstrOper = "GE",
                      ivstrPropName = "ivdtmEmision",
                      ivstrPropValue = mivdtmD?.ToString(ioState.Getparam("Format", "ApiDtm"))
                  }
                  );
            mioFilter.coFilterItems.Add(
                 new FilterItem
                 {
                     ivstrOper = "LE",
                     ivstrPropName = "ivdtmEmision",
                     ivstrPropValue = mivdtmH?.ToString(ioState.Getparam("Format", "ApiDtm"))
                 }
            );
            if (mivlngCbteD != null && mivlngCbteD != 0)
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrOper = "GE",
                        ivstrPropName = "ivlngCbte",
                        ivstrPropValue = mivlngCbteD.ToString()
                    }
                );
            if (mivlngCbteH != null && mivlngCbteH != 0)
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrOper = "LE",
                        ivstrPropName = "ivlngCbte",
                        ivstrPropValue = mivlngCbteH.ToString()
                    }
                );
            if (mivnroTipo != null && mivnroTipo != 0)
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrOper = "EQ",
                        ivstrPropName = "ivnroTipo",
                        ivstrPropValue = mivnroTipo.ToString()
                    }
                );
            if (mivnroStatus != null && mivnroStatus != 0)
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrOper = "EQ",
                        ivstrPropName = "ivnroStatus",
                        ivstrPropValue = mivnroStatus.ToString()
                    }
                );
            if (mivnumPvta != null && mivnumPvta != 0)
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrOper = "EQ",
                        ivstrPropName = "ivnumPvta",
                        ivstrPropValue = mivnumPvta.ToString()
                    }
                );
            if (mivlngCuitReceptor != null && mivlngCuitReceptor != 0)
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrOper = "EQ",
                        ivstrPropName = "ivlngCuitReceptor",
                        ivstrPropValue = mivlngCuitReceptor.ToString()
                    }
                );
            if (!string.IsNullOrEmpty(mivstrIdCliente))
                mioFilter.coFilterItems.Add(
                    new FilterItem
                    {
                        ivstrOper = "EQ",
                        ivstrPropName = "ivstrIdCliente",
                        ivstrPropValue = mivstrIdCliente
                    }
                );
            ioState.ivblnReady = false;
            DocumentModel[] lcoOs = await Service.Post<DocumentModel[]>(EAuthType.Token, ioState.ioLogin.ivstrToken, Configuration, "DocsGet", mioFilter);
            mcoDocuments = new List<Document>();
            foreach (DocumentModel lioDocumentModel in lcoOs.OrderByDescending(x => x.ivdtmEmision))
            {
                mcoDocuments.Add(new Document
                {
                    ioDcModel = lioDocumentModel,
                    ivstrKey = $"{lioDocumentModel.ivlngCuitEmisor}_{lioDocumentModel.ivnroTipo}_{lioDocumentModel.ivnumPvta}_{lioDocumentModel.ivlngCbte}",
                    eDcOper = EDcOper.None
                });
            }
            mcoSelectedDocuments.Clear();
            ioState.ivblnReady = true;
        }
        catch (Exception lioE)
        {
            Snackbar.Add(lioE.Message, Severity.Error);
        }
    }
    public async Task Add()
    {
        mioDialogModel.ieDialogType = eDialogType.FileUpload;
        mioDialogModel.ieDialogButtoms = eDialogButtoms.OkCancel;
        mioDialogModel.ivstrClass = string.Empty;
        if (mioDialogModel.coDocumentsUpload == null)
            mioDialogModel.coDocumentsUpload = new List<DocumentUploadRequest>();
        mioDialogModel.coDocumentsUpload.Clear();
        DialogParameters lioDialogParameters = new DialogParameters<NatDialog> { { x => x.vioDialogModel, mioDialogModel } };
        DialogOptions lioDialogOptions = new DialogOptions
        {
            MaxWidth = MaxWidth.Small
        };
        IDialogReference lioDialogResponse = await DialogService.ShowAsync<NatDialog>(Resources.lioL_Add, lioDialogParameters, lioDialogOptions);
        DialogResult lioDialogResult = await lioDialogResponse.Result;
        if (!lioDialogResult.Canceled)
        {
            string livstrMsg = $"{Resources.lioL_Docs}:";
            livstrMsg += Environment.NewLine;
            foreach (DocumentUploadRequest lioDocumentUpload in mioDialogModel.coDocumentsUpload)
            {
                if (string.IsNullOrEmpty(lioDocumentUpload.ivstrData))
                    continue;
                if (string.IsNullOrEmpty(lioDocumentUpload.ivstrName))
                    continue;
                lioDocumentUpload.ivlngCuit = ioState.ioLogin.ivlngCurrentCuit;
                DocumentUploadResponse[] lcoDocumentUploadResponses = await Service.Post<DocumentUploadResponse[]>(EAuthType.Token, ioState.ioLogin.ivstrToken, Configuration, "DocSave", lioDocumentUpload);
                foreach (DocumentUploadResponse lioDocumentUploadResponse in lcoDocumentUploadResponses)
                {
                    livstrMsg += $"{lioDocumentUploadResponse.ivlngCuitEmisor}_{lioDocumentUploadResponse.ivnroTipoDoc}_{lioDocumentUploadResponse.ivnumPvta}_{lioDocumentUploadResponse.ivlngCbte}: {lioDocumentUploadResponse.ivstrDescStatus}";
                    livstrMsg += Environment.NewLine;
                }
            }
            if (!string.IsNullOrEmpty(livstrMsg))
                Snackbar.Add(livstrMsg, Severity.Info);
            await Find();
        }

    }
    public void Clr()
    {
        mivlngCuitEmisor = null;
        mivdtmD = DateTime.Today.AddMonths(-1);
        mivdtmH = DateTime.Today;
        mivnroTipo = 0;
        mivlngCbteD = null;
        mivlngCbteH = null;
        mivnumPvta = null;
        mivnroStatus = 0;
        mivstrIdCliente = string.Empty;
        mivlngCuitReceptor = null;
    }
    public async Task Export()
    {
        await iIJS.InvokeVoidAsync(
            "downloadBase64File",
            $"Export_{DateTime.Now.ToString("yyyyMMddhhmmss")}.xlsx",
            await Service.PostToStr(EAuthType.Token, ioState.ioLogin.ivstrToken, Configuration, "Export", mioFilter));
    }
    #endregion
    #region Tareas Rows
    public async Task Submit(eTask vieTask)
    {
        try
        {
            long[] livlngDoc = mcoSelectedDocuments.Select(x => x.ioDcModel.ivlngDoc).ToArray();
            DocumentTaskResponse[] lcoDocumentTaskResponses = await Service.Post<DocumentTaskResponse[]>(EAuthType.Token, ioState.ioLogin.ivstrToken, Configuration, "DocTask", new DocumentTask { ieTask = vieTask, cvlngDocs = livlngDoc });
            StringBuilder lioSb = new StringBuilder();
            switch (vieTask)
            {
                case eTask.Print:
                    {
                        foreach (DocumentTaskResponse lioDocumentTaskResponse in lcoDocumentTaskResponses)
                        {
                            if (lioDocumentTaskResponse.ioData == "-1")
                                lioSb.AppendLine($"{lioDocumentTaskResponse.ivstrKey}: {Resources.lioE_NoPdf}");
                            else
                                await iIJS.InvokeVoidAsync("downloadBase64File", $"{lioDocumentTaskResponse.ivstrKey}.pdf", lioDocumentTaskResponse.ioData);
                        }
                        break;
                    }
                case eTask.Tracking:
                    {
                        foreach (DocumentTaskResponse lioDocumentTaskResponse in lcoDocumentTaskResponses)
                        {
                            if (lioDocumentTaskResponse.ioData == "-1")
                                lioSb.AppendLine($"{lioDocumentTaskResponse.ivstrKey}: {Resources.lioE_NoTracking}");
                            else
                            {
                                mioDialogModel.coDocumentTracking = JsonConvert.DeserializeObject<DocumentTracking[]>(Encoding.UTF8.GetString(Convert.FromBase64String(lioDocumentTaskResponse.ioData)));
                                mioDialogModel.ieDialogType = eDialogType.Tracking;
                                mioDialogModel.ieDialogButtoms = eDialogButtoms.X;
                                mioDialogModel.ivstrClass = "nat-dialog1-full-right";
                                DialogParameters lioDialogParameters = new DialogParameters<NatDialog> { { x => x.vioDialogModel, mioDialogModel } };
                                await DialogService.ShowAsync<NatDialog>(Resources.lioL_Tracking, lioDialogParameters);
                            }
                        }
                        if (lioSb.Length != 0)
                            Snackbar.Add(lioSb.ToString(), Severity.Error);
                        break;
                    }
                case eTask.Share:
                    {
                        lioSb.Clear();
                        foreach (DocumentTaskResponse lioDocumentTaskResponse in lcoDocumentTaskResponses)
                        {
                            if (lioDocumentTaskResponse.ioData == "-1")
                                lioSb.AppendLine($"{lioDocumentTaskResponse.ivstrKey}: {Resources.lioE_NoShare}");
                            else
                                lioSb.AppendLine($"{lioDocumentTaskResponse.ivstrKey}: {lioDocumentTaskResponse.ioData}");
                        }
                        Snackbar.Add(lioSb.ToString(), Severity.Info);
                        break;
                    }
                case eTask.PdfGen:
                    {
                        await Find();
                        break;
                    }
                case eTask.Delete:
                    {
                        await Find();
                        break;
                    }
                case eTask.SendResponse:
                    {
                        Snackbar.Add(Resources.lioL_OperOK, Severity.Success);
                        break;
                    }
            }

        }
        catch (Exception lioE)
        {
            Snackbar.Add(lioE.Message, Severity.Error);
        }
    }
    private async void Original()
    {
        foreach (Document lioDocument in mcoSelectedDocuments)
            await iIJS.InvokeVoidAsync("downloadBase64File", $"{lioDocument.ivstrKey}{lioDocument.ioDcModel.ivstrInType}", Format.UnCompress(lioDocument.ioDcModel.ivstrInData,ioState.GetEncoding()));
    }
    public async Task Delete()
    {
        mioDialogModel.ivstrClass = string.Empty;
        mioDialogModel.ieDialogType = eDialogType.Text;
        mioDialogModel.ivstrBody = Resources.lioL_DeleteBody;
        mioDialogModel.ieDialogButtoms = eDialogButtoms.OkCancel;
        DialogParameters lioDialogParameters = new DialogParameters<NatDialog> { { x => x.vioDialogModel, mioDialogModel } };
        DialogOptions lioDialogOptions = new DialogOptions
        {
            MaxWidth = MaxWidth.Small
        };

        IDialogReference lioDialogResponse = await DialogService.ShowAsync<NatDialog>(Resources.lioL_Delete, lioDialogParameters, lioDialogOptions);
        DialogResult lioDialogResult = await lioDialogResponse.Result;
        if (!lioDialogResult.Canceled)
            await Submit(eTask.Delete);
    }

    #endregion
}
