@page "/login/{vivstrTimeOut?}"
@using Applet.Nat.Ux.Models
@using Applet.Nat.Ux
@using MudBlazor
@using Nat.Ux.Properties
@using DNTCaptcha.Blazor

@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject State ioState
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<PageTitle>@Resources.lioL_login</PageTitle>
<div class="nat-page">
    @if (lioModel != null && ioState != null)
    {
        <EditForm Model="@lioModel" OnValidSubmit="@doLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="nat-login-content">
                <img src="./nat.png" class="nat-logo" />
                <div class="nat-loginusrpass-container">
                    <span class="nat-text1N">@Resources.lioL_login</span>
                    <div class="nat-usrpass-container">
                        <div class="nat-w100 ">
                            <MudTextField Typo=Typo.body1 Disabled=@(mivnumIdentityProvider != 0) @bind-Value="lioModel.ivstrUser" Class="nat-text" Label="@Resources.lioL_User" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                        </div>
                        <div class="nat-w100">
                            <MudTextField Typo=Typo.body1 Disabled=@(mivnumIdentityProvider != 0) @bind-Value="lioModel.ivstrPass" InputType="InputType.Password" Class="nat-text" Label="@Resources.lioL_Pass" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Key" />
                        </div>
                        <div class="nat-w100 nat-select">
                            <MudSelect Typo=Typo.body2 Class="nat-text3 " @bind-Value="mivnumIdentityProvider" Variant="Variant.Outlined" Margin="Margin.Dense" Label=@Resources.lioL_IdentityProvider>
                                @foreach (var lioO in ioState.ioStatics.coIdentityProviders)
                                {
                                    <MudSelectItem Class="nat-text" Value=lioO.ivnumIdentityProvider>@lioO.ivstrIdentityProvider</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                        <div class="nat-w100">
                            <MudButton Class="nat-button" FullWidth=true StartIcon="@Icons.Material.Filled.Login" ButtonType="ButtonType.Submit">@Resources.lioL_In</MudButton>
                        </div>
                        <span class="nat-text">@ioState.ioStatics.coLists.FirstOrDefault(x => x.ivcodType == "FORMAT" && x.ivcodId == "disc")?.ivstrDesc</span>
                    </div>
                </div>
            </div>
        </EditForm>
    }
</div>
@code {
    [Parameter]
    public string? vivstrTimeOut { get; set; }
    #region Propiedades
    public LoginModel lioModel { get; set; }
    private int livnumCaptchaLetters = 5;
    private int mivnumFail { get; set; }
    private int _mivnumIdentityProvider;

    private int mivnumIdentityProvider
    {
        get => _mivnumIdentityProvider;
        set
        {
            if (_mivnumIdentityProvider != value)
            {
                _mivnumIdentityProvider = value;
                StateHasChanged();
            }
        }
    }
    #endregion
    #region Metodos
    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(vivstrTimeOut))
            Snackbar.Add(Resources.lioE_TokenExp, Severity.Error, vioOpt => { vioOpt.RequireInteraction = true; });
        lioModel = new LoginModel();
        mivnumFail = 0;
        mivnumIdentityProvider = 0;
        ioState.reset();
        ioState.OnChange += HandleStateChange;
    }

    private void HandleStateChange()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ioState.OnChange -= HandleStateChange;
    }
    public async Task doLogin()
    {
        try
        {
            ioState.ioIdentityProvider = new IdentityProvider
            {
                ivstrConnSts = Guid.NewGuid().ToString(),
                ioDcModel = ioState.ioStatics.coIdentityProviders.FirstOrDefault(x => x.ivnumIdentityProvider == mivnumIdentityProvider)
            };
            if (ioState.ioIdentityProvider.ioDcModel.ivnumIdentityProvider != 0)  //OIDC
            {
                string livstrEnv = ioState.ioStatics.coLists.FirstOrDefault(x => x.ivcodType == "FORMAT" && x.ivcodId == "ENV").ivstrDesc == "P" ? string.Empty : "qa";
                ioState.ioIdentityProvider.ivstrActualRedirectUrl = $"https://nat{livstrEnv}.signature-services.com.ar/web/authentication/login-callback";
                NavigationManager.NavigateTo(
                    ioState.ioIdentityProvider.ioDcModel.ivstrIdentityProviderUrlLogin
                        .Replace("{CI}", ioState.ioIdentityProvider.ioDcModel.ivstrIdentityProviderId)
                        .Replace("{RU}", Uri.EscapeDataString(ioState.ioIdentityProvider.ivstrActualRedirectUrl))
                        .Replace("{ST}", ioState.ioIdentityProvider?.ivstrConnSts
                        ),
                    true
                );
            }
            else //NAT
            {
                if (mivnumFail > ioState.ivnumBeforeCaptcha)
                    return;
                LoginResponse lioLoginResponse = await ioState.Fetch<LoginResponse>(EAuthType.UserAndPass, $"{lioModel.ivstrUser}:{lioModel.ivstrPass}", Configuration, "login", null);
                ioState.Login(lioLoginResponse);
                NavigationManager.NavigateTo("Docs/0");
            }
        }
        catch (Exception lioE)
        {
            ioState.ioUser = null;
            Snackbar.Add(lioE.Message, Severity.Error);
            mivnumFail++;
        }
    }

    #endregion
}
