@page "/login/{vivstrTimeOut?}"
@using Applet.Nat.Ux.Models
@using Applet.Nat.Ux
@using MudBlazor
@using Nat.Ux.Properties
@using DNTCaptcha.Blazor

@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject State ioState
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<PageTitle>@Resources.lioL_login</PageTitle>
<div class="nat-page">
    @if (lioModel != null && ioState != null)
    {
        <EditForm Model="@lioModel" OnValidSubmit="@doLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="nat-login-content">
                <img src="./nat.png" class="nat-logo" />
                <div class="nat-loginusrpass-container">
                    <span class="nat-text1N">@Resources.lioL_login</span>
                    <div class="nat-usrpass-container">
                        <div class="nat-w100">
                            <MudButton Class="nat-button2" FullWidth=true StartIcon="@Icons.Material.Filled.AirlineStops" OnClick="Oidc">@Resources.lioL_Oidc</MudButton>
                        </div>
                        <div class="nat-w100">
                            <MudTextField Typo=Typo.body1 @bind-Value="lioModel.ivstrUser" Class="nat-text" Label="@Resources.lioL_User" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                        </div>
                        <div class="nat-w100">
                            <MudTextField Typo=Typo.body1 @bind-Value="lioModel.ivstrPass" InputType="InputType.Password" class="nat-text" Label="@Resources.lioL_Pass" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Key" />
                        </div>
                        <div class="nat-w100">
                            <MudButton Class="nat-button" FullWidth=true StartIcon="@Icons.Material.Filled.Login" ButtonType="ButtonType.Submit">@Resources.lioL_In</MudButton>
                        </div>

                        <span class="nat-text">@mivstrDisc</span>
                    </div>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(livstrRes))
            {
                <div class="alert alert-danger mt-3 mb-0">@livstrRes</div>
            }

        </EditForm>
    }
</div>
@code {
        [Parameter]
        public string? vivstrTimeOut { get; set; }
    #region Propiedades
    public LoginModel lioModel { get; set; }
    private int livnumCaptchaLetters = 5;
    private string livstrRes { get; set; }
    private string mivstrDisc { get; set; }
    private int mivnumFail { get; set; }

    #endregion
    #region Metodos
    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(vivstrTimeOut))
            Snackbar.Add(Resources.lioE_TokenExp, Severity.Error, vioOpt => { vioOpt.RequireInteraction = true; });
        lioModel = new LoginModel();
        mivnumFail = 0;
        ioState.reset();
    }
    protected async override Task OnInitializedAsync()
    {
        if (ioState.ioStatics == null || ioState.ioStatics.coLists == null)
            await ioState.getStatics(Configuration);
        mivstrDisc = ioState.ioStatics.coLists.FirstOrDefault(x => x.ivcodType == "FORMAT" && x.ivcodId == "disc").ivstrDesc;
    }
    public async Task doLogin()
    {
        try
        {
            if (mivnumFail > ioState.ivnumBeforeCaptcha)
                return;
            ioState.ivblnLogin = false;
            ioState.ioLogin = await Service.Fetch<LoginResponse>(EAuthType.UserAndPass, $"{lioModel.ivstrUser}:{lioModel.ivstrPass}", Configuration, "login", null);
            ioState.ivblnLogin = true;
            ioState.ioLogin.ivlngCurrentCuit = 0;
            if (ioState.ioLogin.ioUser.coCuitsModels == null || ioState.ioLogin.ioUser.coCuitsModels.Count == 0)
                ioState.ioLogin.ivlngCurrentCuit = 0;
            else
            {
                ioState.ioLogin.ivlngCurrentCuit = ioState.ioLogin.ioUser.coCuitsModels[0].ivlngCuit;
                foreach (UserCuitModel lioO in ioState.ioLogin.ioUser.coCuitsModels)
                    if (lioO.ivblnDefaut)
                    {
                        ioState.ioLogin.ivlngCurrentCuit = lioO.ivlngCuit;
                        break;
                    }
            }
            NavigationManager.NavigateTo("Docs/0");
        }
        catch (Exception lioE)
        {
            ioState.ivblnLogin = false;
            Snackbar.Add(lioE.Message, Severity.Error);
            mivnumFail++;
        }
    }
    public void CheckCaptcha()
    {
        if (lioModel.ivstrCaptcha == lioModel.ivstrCaptchaResponse)
        {
            mivnumFail = 0;
            livstrRes = string.Empty;
        }
        else
        {
            lioModel.ivstrCaptchaResponse = string.Empty;
            livstrRes = Resources.lioE_CaptchaNo;
            mivnumFail++;
        }
        StateHasChanged();
    }

    public async void Oidc()
    {
        DialogModel lioDialogModel = new DialogModel();
        lioDialogModel.ivstrClass = string.Empty;
        lioDialogModel.ieDialogType = eDialogType.Oidc;
        lioDialogModel.ivstrBody = string.Empty;
        lioDialogModel.ieDialogButtoms = eDialogButtoms.Ok;
        DialogParameters lioDialogParameters = new DialogParameters<NatDialog> { { x => x.vioDialogModel, lioDialogModel } };
        DialogOptions lioDialogOptions = new DialogOptions
        {
            MaxWidth = MaxWidth.Small
        };

        IDialogReference lioDialogResponse = await DialogService.ShowAsync<NatDialog>(Resources.lioL_IdProv, lioDialogParameters, lioDialogOptions);
        DialogResult lioDialogResult = await lioDialogResponse.Result;
        if (!string.IsNullOrEmpty(lioDialogModel.ivstrBody) && int.TryParse(lioDialogModel.ivstrBody, out int livnumIdentityProvider))
        {
            IdentityProviderModel lioIdentityProviderModel = ioState.ioStatics.coIdentityProviders.FirstOrDefault(x => x.ivnumIdentityProvider == livnumIdentityProvider);
            if (lioIdentityProviderModel != null)
            {
                string livstrEnv = ioState.ioStatics.coLists.FirstOrDefault(x => x.ivcodType == "FORMAT" && x.ivcodId == "ENV").ivstrDesc == "P" ? string.Empty : "qa";
                string livstrUrl = lioIdentityProviderModel.ivstrIdentityProviderUrl
                                    .Replace("{RU}", Uri.EscapeDataString($"https://nat{livstrEnv}.signature-services.com.ar/authentication/login-callback"))
                                    .Replace("{NON}", "NATSTS123")
                                    .Replace("{STS}", "NON123");
                NavigationManager.NavigateTo(livstrUrl, true);
            }
        }
    }
    #endregion
}
