@using Applet.Nat.Ux
@using MudBlazor
@using Applet.Nat.Ux.Models
@using Nat.Ux.Properties
@using Newtonsoft.Json
@using System.Text
@inject State ioState
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject IJSRuntime iIJS;
@inject ISnackbar Snackbar

<MudDialog Class="@vioDialogModel.ivstrClass">
    <DialogContent>
        @switch (vioDialogModel.ieDialogType)
        {
            case eDialogType.Text:
                {
                    foreach (string livstrLine in vioDialogModel.ivstrBody.Split(new string[] { "\r\n", "\n" }, StringSplitOptions.None))
                    {
                        <p>
                            @livstrLine
                        </p>
                        if (!string.IsNullOrEmpty(vioDialogModel.ivstrFullBody))
                        {
                            <MudIconButton Icon="playlist_add" title=@Resources.lioL_Detail OnClick="@ShowFullError"></MudIconButton>
                        }
                    }
                    if (livblnshowFullError)
                    {
                        <p>
                            @vioDialogModel.ivstrFullBody
                        </p>
                    }
                    break;
                }
            case eDialogType.FileUpload:
                {
                    <div>
                        <MudFileUpload T="IBrowserFile" FilesChanged="FilesReady" Label="@Resources.lioL_Drag">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.CloudUpload">
                                    @Resources.lioL_Uploads
                                </MudButton>
                            </ActivatorContent>
                        </MudFileUpload>
                    </div>
                    @if (vioDialogModel.coDocumentsUpload != null)
                        @foreach (DocumentUploadRequest lioDoc in vioDialogModel.coDocumentsUpload)
                        {
                            <p>@lioDoc.ivstrName</p>
                        }
                    break;
                }
            case eDialogType.Tracking:
                {
                    @foreach (DocumentTracking lioTracking in vioDialogModel.coDocumentTracking?.OrderByDescending(x => x.ioDcModel.ivnumtrack))
                    {
                        <div class="nat-track-container">
                            <div class="nat-trackheader-container">
                                <div class="nat-col15">
                                    @lioTracking.ioDcModel.ivdtmTrack.ToString(ioState.Getparam("Format", "UxDtm"))
                                    <br />
                                    @lioTracking.ioDcModel.ivdtmTrack.ToString("HH:mm:ss")
                                </div>

                                <div class="nat-col35">
                                    @if (lioTracking.ioDcModel?.ivnroStatus == 10)
                                    {
                                        <span style="color:#424242">@ioState.Getparam("STATUS", lioTracking.ioDcModel.ivnroStatus.ToString())</span>
                                    }
                                    @if (new short[] { 20, 35, 40, 65 }.Contains(lioTracking.ioDcModel?.ivnroStatus ?? 0))
                                    {
                                        <span style="color:#F44336">@ioState.Getparam("STATUS", lioTracking.ioDcModel.ivnroStatus.ToString())</span>
                                    }
                                    @if (new short[] { 30, 50, 70, 100 }.Contains(lioTracking.ioDcModel?.ivnroStatus ?? 0))
                                    {
                                        <span style="color:#00973F">@ioState.Getparam("STATUS", lioTracking.ioDcModel.ivnroStatus.ToString())</span>
                                    }
                                    @if (new short[] { 55, 60 }.Contains(lioTracking.ioDcModel?.ivnroStatus ?? 0))
                                    {
                                        <span style="color:#008DAF">@ioState.Getparam("STATUS", lioTracking.ioDcModel.ivnroStatus.ToString())</span>
                                    }
                                    @if (lioTracking.ioDcModel?.ivnroStatus == 80)
                                    {
                                        <span style="color:#FF9800">@ioState.Getparam("STATUS", lioTracking.ioDcModel.ivnroStatus.ToString())</span>
                                    }

                                </div>
                                <div class="nat-col35">
                                    @if (!string.IsNullOrEmpty(lioTracking.ivstrTrackDescr))
                                    {
                                        @lioTracking.ivstrTrackDescr?.Split(':')[0]
                                        <br />
                                        @lioTracking.ivstrTrackDescr?.Split(':')[1]
                                    }
                                </div>
                                @if (!string.IsNullOrEmpty(lioTracking.ioDcModel.ivstrData))
                                {
                                    @if (lioTracking.ivblnShowData)
                                    {
                                        <div class="nat-col8">
                                            <MudIconButton Icon="@Icons.Material.Filled.ExpandLess" Class="nat-icon-verde" @onclick="(() => ShowData(lioTracking))" Edge="Edge.End"></MudIconButton>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="nat-col8">
                                            <MudIconButton Icon="@Icons.Material.Filled.ExpandMore" Class="nat-icon-verde" @onclick="(() => ShowData(lioTracking))" Edge="Edge.End"></MudIconButton>
                                        </div>
                                    }
                                }
                            </div>
                            @if (lioTracking.ivblnShowData)
                            {
                                <div class="nat-trackdetail-container ">
                                    <div class="nat-trackdetail">
                                        @foreach (Tuple<string, string, int> lioO in mcoTrackDetail)
                                        {
                                            <spam style="color:@lioO.Item1; font-weight:@lioO.Item3">
                                                @lioO.Item2
                                            </spam>
                                        }
                                    </div>
                                    <MudIconButton Icon="@Icons.Material.Filled.CopyAll" Class="nat-icon-verde" title=@Resources.lioL_Copy @onclick="(() => Copy(lioTracking))"></MudIconButton>
                                </div>
                            }
                        </div>

                    }
                    break;
                }
            case eDialogType.Cuit:
                {
                    @if (vioDialogModel?.ioCuit?.ioCnfg != null)
                    {
                        @if (vioDialogModel.ioCuit.ioDcModel.ivlngCuit > 0)
                        {
                            <div>
                                <MudTextField Disabled=true Typo=Typo.body1 @bind-Value="@vioDialogModel.ioCuit.ioDcModel.ivlngCuit" Class="nat-text" Label="@Resources.lioL_Cuit1" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                            </div>
                        }
                        else
                        {
                            <div>
                                <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioCuit.ioDcModel.ivlngCuit" Class="nat-text" Label="@Resources.lioL_Cuit1" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                            </div>
                        }
                        <div class="nat-borow-container">
                            <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioCuit.ioDcModel.ivstrCuitRS" Class="nat-text" Label="@Resources.lioL_Rs" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                            <MudSelect Typo=Typo.body2 Class="nat-text3" @bind-Value="@vioDialogModel.ioCuit.ioCnfg.ivstrEncoding" Variant="Variant.Outlined" Margin="Margin.Dense" Label=@Resources.lioL_Encoding>
                                @foreach (ListModel lioListModel in ioState.ioStatics.coLists.Where(x => x.ivcodType == "ENCOD").OrderBy(x => int.Parse(x.ivcodId)))
                                {
                                    <MudSelectItem Class="nat-text" Value=@lioListModel.ivstrDesc>@lioListModel.ivstrDesc</MudSelectItem>
                                }
                            </MudSelect>
                        </div>
                        <div>
                            <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioCuit.ioCnfg.ivstrInFolder" Class="nat-text" Label="@Resources.lioL_FtpIn" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                        </div>
                        <div>
                            <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioCuit.ioCnfg.ivstrOutFolder" Class="nat-text" Label="@Resources.lioL_FtpOut" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                        </div>
                        <div class="nat-mixaling-container">
                            <spam>@Resources.lioL_Mapper</spam>
                            <MudIconButton Icon="@Icons.Material.Filled.FileDownload" @onclick="Download" Class="nat-icon-verde" title=@Resources.lioL_FileDownload></MudIconButton>
                            <MudIconButton Icon="@Icons.Material.Filled.FileUpload" @onclick="Upload" Class="nat-icon-verde" title=@Resources.lioL_FileUpload></MudIconButton>
                        </div>
                        @if (mivblnShowUploadMapper)
                        {
                            <div>
                                <MudFileUpload T="IBrowserFile" FilesChanged="FileReadyMapper" Label="@Resources.lioL_Drag">
                                    <ActivatorContent>
                                        <MudButton Variant="Variant.Filled"
                                                   Color="Color.Primary"
                                                   StartIcon="@Icons.Material.Filled.CloudUpload">
                                            @Resources.lioL_Upload
                                        </MudButton>
                                    </ActivatorContent>
                                </MudFileUpload>
                            </div>
                            <p>@mivstrFileNameMapper</p>
                        }
                        <div class="nat-mixaling-container">
                            <spam>@Resources.lioL_Templates</spam>
                            <MudIconButton Icon="@Icons.Material.Filled.FileDownload" @onclick="DownloadTemplates" Class="nat-icon-verde" title=@Resources.lioL_FileDownload></MudIconButton>
                            <MudIconButton Icon="@Icons.Material.Filled.FileUpload" @onclick="UploadTemplates" Class="nat-icon-verde" title=@Resources.lioL_FileUpload></MudIconButton>
                        </div>
                        @if (mivblnShowUploadTemplate)
                        {
                            <div>
                                <MudFileUpload T="IBrowserFile" FilesChanged="FileReadyTemplate" Label="@Resources.lioL_Drag">
                                    <ActivatorContent>
                                        <MudButton Variant="Variant.Filled"
                                                   Color="Color.Primary"
                                                   StartIcon="@Icons.Material.Filled.CloudUpload">
                                            @Resources.lioL_Upload
                                        </MudButton>
                                    </ActivatorContent>
                                </MudFileUpload>

                            </div>
                            <p>@mivstrFileNameTemplate</p>
                        }
                    }
                    break;
                }
            case eDialogType.List:
                {
                    @if (vioDialogModel?.ioList != null)
                    {
                        <MudTextField Disabled=true Typo=Typo.body1 @bind-Value="@vioDialogModel.ioList.ioDcModel.ivcodType" Class="nat-text" Label="@Resources.lioL_Type1" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.ListAlt" />
                        @if (!string.IsNullOrEmpty(vioDialogModel?.ioList.ioDcModel.ivcodId))
                        {
                            <div>
                                <MudTextField Disabled=true Typo=Typo.body1 @bind-Value="@vioDialogModel.ioList.ioDcModel.ivcodId" Class="nat-text" Label="@Resources.lioL_Id" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.ListAlt" />
                            </div>
                        }
                        else
                        {
                            <div>
                                <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioList.ioDcModel.ivcodId" Class="nat-text" Label="@Resources.lioL_Id" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.ListAlt" />
                            </div>
                        }
                        <div>
                            <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioList.ioDcModel.ivstrDesc" Class="nat-text" Label="@Resources.lioL_Desc" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                        </div>
                    }
                    break;
                }
            case eDialogType.User:
                {
                    @if (vioDialogModel?.ioUser != null)
                    {
                        @if (vioDialogModel.ioUser.ioDcModel.ivnumUser > 0)
                        {
                            <div>
                                <MudTextField Disabled=true Typo=Typo.body1 @bind-Value="@vioDialogModel.ioUser.ioDcModel.ivstrUserId" Class="nat-text" Label="@Resources.lioL_UserId" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                            </div>
                        }
                        else
                        {
                            <div>
                                <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioUser.ioDcModel.ivstrUserId" Class="nat-text" Label="@Resources.lioL_UserId" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                            </div>
                        }
                        <div>
                        </div>
                        <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioUser.ioDcModel.ivstrUserName" Class="nat-text" Label="@Resources.lioL_UserName" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.InsertDriveFile" />
                        <div class="nat-borow-container">
                            <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioUser.ioDcModel.ivstrUserEmail" Class="nat-text" Label="@Resources.lioL_Email" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Email" />
                            <MudTextField Disabled="true" Typo=Typo.body1 @bind-Value="vioDialogModel.ioUser.ivstrPass" Class="nat-text" Label="@Resources.lioL_Pass" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Key" />
                            <MudIconButton Icon="@Icons.Material.Filled.RotateRight" Class="nat-icon-verde" @onclick="GenPass"></MudIconButton>
                            <MudIconButton Icon="@Icons.Material.Filled.RemoveDone" Class="nat-icon-verde" @onclick="ClrPass"></MudIconButton>
                            <MudTextField Disabled="true" Typo=Typo.body1 @bind-Value="vioDialogModel.ioUser.ioDcModel.ivnrologonFails" Class="nat-text" Label="@Resources.lioL_NroFails" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Key" />
                            <MudCheckBox Label=@Resources.lioL_Enable LabelPlacement="Placement.Start" @bind-Value="@vioDialogModel.ioUser.ioDcModel.ivblnEnable" />
                        </div>
                        <div class="nat-borow-container">
                            <MudTextField Typo=Typo.body1 @bind-Value="@vioDialogModel.ioUser.ivstrCuits" Class="nat-text" Label="@Resources.lioL_UsrCuit" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Factory" />
                            <span>@Resources.lioL_Coma</span>
                        </div>
                    }
                    break;
                }
            case eDialogType.Me:
                {
                    <div class="nat-text2N">@Resources.lioL_UserId</div>
                    <div class="nat-text2">@ioState.ioLogin?.ioUser.ioDcModel.ivstrUserId</div>
                    <div class="nat-text2N">@Resources.lioL_Email</div>
                    <div class="nat-text2">@ioState.ioLogin?.ioUser.ioDcModel.ivstrUserEmail</div>
                    <div class="nat-text2N">@Resources.lioL_UserName</div>
                    <div class="nat-text2">@ioState.ioLogin?.ioUser.ioDcModel.ivstrUserName</div>
                    <div class="nat-text2N">@Resources.lioL_DefaultCuit</div>
                    <div class="nat-text2">@ioState.ioLogin.ivlngCurrentCuit</div>
                    @if (ioState.ioLogin.ioUser.coCuitsModels.Count > 1)
                    {
                        <div class="nat-text2N">@Resources.lioL_CurrentCuit</div>
                        <MudSelect Typo=Typo.body2 @bind-Value="@ioState.ioLogin.ivlngCurrentCuit" Variant="Variant.Outlined" Class="nat-text3" Margin="Margin.Dense">
                            @foreach (UserCuitModel lio in ioState.ioLogin.ioUser.coCuitsModels)
                            {
                                <MudSelectItem Class="nat-text" Value=lio.ivlngCuit>@lio.ivlngCuit - @lio.ivstrRS</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    <div class="nat-space2">
                    </div>
                    @if (livblnPass)
                    {
                        <div class="nat-usrpass-container">
                            <div class="nat-w100">
                                <MudTextField Typo=Typo.body1 @bind-Value="mivstrPass" InputType="InputType.Password" class="nat-text" Label="@Resources.lioL_Pass" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Key" />
                            </div>
                            <div class="nat-w100">
                                <MudTextField Typo=Typo.body1 @bind-Value="mivstrPass2" InputType="InputType.Password" class="nat-text" Label="@Resources.lioL_Pass2" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Key" />
                            </div>
                            <div class="nat-cw100">
                                <MudButton Class="nat-buttontrans" FullWidth=true OnClick="Pass">@Resources.lioL_Cancel</MudButton>
                                <MudButton Class="nat-button" FullWidth=true OnClick="PassChg">@Resources.lioL_Ok</MudButton>
                            </div>
                        </div>
                    }
                    else
                    {
                        <MudButton Class="nat-buttontrans" StartIcon="@Icons.Material.Filled.Key" FullWidth=true OnClick="Pass">@Resources.lioL_PassChg</MudButton>
                    }
                    break;
                }
        }
        @if (!string.IsNullOrEmpty(mivstrError))
        {
            <p>
                @mivstrError
            </p>
        }
    </DialogContent>
    <DialogActions>
        @switch (vioDialogModel.ieDialogButtoms)
        {
            case eDialogButtoms.Ok:
                {
                    <MudButton class="nat-button" OnClick="OK">@Resources.lioL_Ok</MudButton>
                    break;
                }
            case eDialogButtoms.OkCancel:
                {
                    <MudButton class="nat-button" OnClick="OK">@Resources.lioL_Ok</MudButton>
                    <MudButton class="nat-button" OnClick="Cancel">@Resources.lioL_Cancel</MudButton>
                    break;
                }
            case eDialogButtoms.YesNo:
                {
                    <MudButton class="nat-button" OnClick="OK">@Resources.lioL_Yes</MudButton>
                    <MudButton class="nat-button" OnClick="Cancel">@Resources.lioL_No</MudButton>
                    break;
                }

        }
    </DialogActions>
</MudDialog>
@if (mivblnShowText)
{
    <MudDialog>
        <TitleContent>
        </TitleContent>
        <DialogContent>
            <p>@mivstrText</p>
        </DialogContent>
        <DialogActions>
            <MudButton class="nat-button" OnClick="OK">@Resources.lioL_Ok</MudButton>
        </DialogActions>
    </MudDialog>
}
@code {
    [CascadingParameter]
    private IMudDialogInstance vioMudDialog { get; set; }
    [Parameter]
    public DialogModel vioDialogModel { get; set; }
    #region Props
    private string mivstrFileNameTemplate { get; set; }
    private string mivstrFileNameMapper { get; set; }
    private string mivstrError { get; set; }
    private string mivstrPass { get; set; }
    private string mivstrPass2 { get; set; }
    private string livstrRes { get; set; }
    private List<Tuple<string, string, int>> mcoTrackDetail { get; set; }
    private bool livblnshowFullError { get; set; }
    private bool livblnPass { get; set; }
    private string mivstrText { get; set; }
    private bool mivblnShowText { get; set; }
    private bool mivblnShowUploadMapper { get; set; }
    private bool mivblnShowUploadTemplate { get; set; }
    private IList<IBrowserFile> mcoUploadedFiles = new List<IBrowserFile>();
    #endregion
    #region Meths
    protected override void OnInitialized()
    {
        mivstrError = string.Empty;
        mivblnShowText = false;
        mivblnShowUploadMapper = false;
        mivblnShowUploadTemplate = false;
    }
    protected override async Task OnInitializedAsync()
    {
        mivstrError = string.Empty;
        mivstrFileNameMapper = string.Empty;
        mivstrFileNameTemplate = string.Empty;
        livblnshowFullError = false;
        livblnPass = false;
        livstrRes = string.Empty;
    }
    private void Cancel() => vioMudDialog.Cancel();
    private void OK() => vioMudDialog.Close(DialogResult.Ok(DialogResult.Ok(true)));
    private void ShowFullError()
    {
        livblnshowFullError = !livblnshowFullError;
    }
    private async Task FilesReady(IBrowserFile vioUploadedFile)
    {
        try
        {

            if (vioUploadedFile == null)
                throw new Exception(Resources.lioE_DocUserNo);
            if (vioDialogModel.coDocumentsUpload == null)
                vioDialogModel.coDocumentsUpload = new List<DocumentUploadRequest>();
            vioDialogModel.coDocumentsUpload.Add(
                 new DocumentUploadRequest
                 {
                     ivstrName = vioUploadedFile.Name,
                     ivstrData = Format.Compress(Convert.ToBase64String(ioState.GetEncoding().GetBytes(await LoadDocument(vioUploadedFile))))
                 }
            );
        }
        catch (Exception lioE)
        {
            mivstrError = $"{Resources.lioE_DocsLoad} {lioE.Message}";
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }
    private async Task FileReadyMapper(IBrowserFile vioUploadedFile)
    {
        if (vioUploadedFile == null)
            return;
        vioDialogModel.ioCuit.ioCnfg.coServiceMappers = JsonConvert.DeserializeObject<ServiceMapper[]>(Format.RemoveSpacesFromJson(await LoadDocument(vioUploadedFile)));
        mivstrFileNameMapper = vioUploadedFile.Name;
    }
    private async Task FileReadyTemplate(IBrowserFile vioUploadedFile)
    {
        if (vioUploadedFile == null)
            return;
        vioDialogModel.ioCuit.ioCnfg.coTemplateVersions = JsonConvert.DeserializeObject<TemplateVersion[]>(Format.RemoveSpacesFromJson(await LoadDocument(vioUploadedFile)));
        mivstrFileNameTemplate = vioUploadedFile.Name;

    }
    private async Task<string> LoadDocument(IBrowserFile vioBrowserFile)
    {
        string livstr = string.Empty;
        using (Stream lioMS = vioBrowserFile.OpenReadStream(1024 * 1024))
        {
            using (var lioRdr = new StreamReader(lioMS, ioState.GetEncoding()))
            {
                livstr = await lioRdr.ReadToEndAsync();
            }
        }
        return livstr;
    }
    private void Pass()
    {
        livstrRes = string.Empty;
        livblnPass = !livblnPass;
    }
    private void GenPass()
    {
        Guid guid = Guid.NewGuid();
        vioDialogModel.ioUser.ivstrPass = guid.ToString("N").Substring(0, 10);
    }
    private void ClrPass()
    {
        vioDialogModel.ioUser.ivstrPass = string.Empty;
    }
    private async void PassChg()
    {
        try
        {
            if (mivstrPass != mivstrPass2)
            {
                Snackbar.Add(Resources.lioE_PassDif, Severity.Error);
                return;
            }
            ioState.ioLogin.ioUser.ivstrPass = mivstrPass;
            ioState.ioLogin.ioUser.ieTask = eTask.Pass;
            string livstr = await Service.PostToStr(
                EAuthType.Token,
                ioState.ioLogin.ivstrToken,
                Configuration,
                "UserTask",
                ioState.ioLogin.ioUser
            );
            livblnPass = false;
        }
        catch (Exception lioE)
        {
            if (lioE.Message == "527")
            {
                StateHasChanged();
            }
            else
                Snackbar.Add(lioE.Message, Severity.Error);
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }
    public void ShowData(DocumentTracking vioTracking)
    {
        vioTracking.ivblnShowData = !vioTracking.ivblnShowData;
        mcoTrackDetail = new List<Tuple<string, string, int>>();
        if (vioTracking.ivblnShowData) //arma detalle de tracking
        {
            if (string.IsNullOrEmpty(vioTracking.ioDcModel.ivstrData))
            {
                mcoTrackDetail.Add(new Tuple<string, string, int>("gray", string.Empty, 100));
                return;
            }
            try
            {
                int livnumIndexCAE = -1,
                    livnumIndexOBS = int.MaxValue,
                    livnumIndexCurr,
                    livnumLenCAE = 0;
                string livstr = string.Empty;
                //CAE
                if (vioTracking.ioDcModel.ivstrData.Contains("CodAutorizacion"))
                    livstr = "CodAutorizacion";
                else if (vioTracking.ioDcModel.ivstrData.Contains("\"CAE\":"))
                    livstr = "\"CAE\":";
                else if (vioTracking.ioDcModel.ivstrData.Contains("\"Cae\":"))
                    livstr = "\"Cae\":";
                if (!string.IsNullOrEmpty(livstr))
                {
                    livnumIndexCAE = vioTracking.ioDcModel.ivstrData.IndexOf(livstr);
                    livstr = vioTracking.ioDcModel.ivstrData.Substring(livnumIndexCAE);
                    livnumLenCAE = livstr.IndexOf(",");
                }
                //Observaciones y Errores
                livstr = string.Empty;
                if (vioTracking.ioDcModel.ivstrData.Contains("Observaciones"))
                    livnumIndexOBS = vioTracking.ioDcModel.ivstrData.IndexOf("Observaciones");
                if (vioTracking.ioDcModel.ivstrData.Contains("Events"))
                    livnumIndexOBS = Math.Min(livnumIndexOBS, vioTracking.ioDcModel.ivstrData.IndexOf("Events"));
                if (vioTracking.ioDcModel.ivstrData.Contains("FEXErr"))
                    livnumIndexOBS = Math.Min(livnumIndexOBS, vioTracking.ioDcModel.ivstrData.IndexOf("FEXErr"));
                if (vioTracking.ioDcModel.ivstrData.Contains("Errors"))
                    livnumIndexOBS = Math.Min(livnumIndexOBS, vioTracking.ioDcModel.ivstrData.IndexOf("Errors"));
                livnumIndexCurr = 0;
                livstr = vioTracking.ioDcModel.ivstrData;
                if (livnumIndexCAE > 0)
                {
                    mcoTrackDetail.Add(new Tuple<string, string, int>("gray", livstr.Substring(0, livnumIndexCAE), 100));
                    livstr = livstr.Substring(livnumIndexCAE);
                    mcoTrackDetail.Add(new Tuple<string, string, int>("green", livstr.Substring(0, livnumLenCAE + 1), 700));
                    livstr = livstr.Substring(livnumLenCAE + 1);
                    livnumIndexCurr = livnumIndexCAE + livnumLenCAE + 1;
                }
                if (livnumIndexOBS < int.MaxValue)
                {
                    livnumIndexOBS = livnumIndexOBS - livnumIndexCurr;
                    if (livnumIndexOBS > 0)
                    {
                        mcoTrackDetail.Add(new Tuple<string, string, int>("gray", livstr.Substring(0, livnumIndexOBS), 100));
                        livstr = livstr.Substring(livnumIndexOBS);
                        mcoTrackDetail.Add(new Tuple<string, string, int>("red", livstr, 700));
                    }
                }
                else
                    mcoTrackDetail.Add(new Tuple<string, string, int>("gray", livstr, 100));
            }
            catch
            {
                mcoTrackDetail = new List<Tuple<string, string, int>>();
                mcoTrackDetail.Add(new Tuple<string, string, int>("gray", vioTracking.ioDcModel.ivstrData, 100));
                return;
            }
        }
    }
    public async Task Copy(DocumentTracking vioTracking)
    {
        await iIJS.InvokeVoidAsync("navigator.clipboard.writeText", vioTracking.ioDcModel.ivstrData);
    }
    public void EndDialogText()
    {
        mivblnShowText = false;
    }
    public async void Download()
    {
        await iIJS.InvokeVoidAsync("downloadStrFile", $"Mapeador_{vioDialogModel.ioCuit.ioDcModel.ivlngCuit}.txt", JsonConvert.SerializeObject(vioDialogModel.ioCuit.ioCnfg.coServiceMappers));
    }
    public void Upload()
    {
        mivstrError = string.Empty;
        mivblnShowUploadMapper = !mivblnShowUploadMapper;
    }
    public async void DownloadTemplates()
    {
        await iIJS.InvokeVoidAsync("downloadStrFile", $"TemplateVersion_{vioDialogModel.ioCuit.ioDcModel.ivlngCuit}.txt", JsonConvert.SerializeObject(vioDialogModel.ioCuit.ioCnfg.coTemplateVersions));

    }
    public void UploadTemplates()
    {
        mivblnShowUploadTemplate = !mivblnShowUploadTemplate;
        mivstrError = string.Empty;
    }
    #endregion
}


